@import 'variables';
@import 'smart-grid';
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: $default-font;
  font-size: $default-font-size;
  // letter-spacing: 0.36px;
  // word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  background-color: $grey;
}
p {
  line-height: 32px;
}
.container {
  @include wrapper();
}

@include reset();

button {
  &:focus {
    outline: none;
  }
}

.v-btn {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 16px;
  box-shadow: 0px 0px 32px $dark;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  .icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: $dark;
    border-radius: 12px;
    margin-right: 16px;
    i {
      font-size: 16px;
    }
  }
  &.primary {
    background-color: $blue;
    color: $white;
  }
  &.white {
    background-color: $white;
    color: $blue;
  }
  &.outline-white {
    border: 1px solid $white;
    background-color: transparent;
    color: $white;
  }
  &.v-size--default {
    width: 100%;
    max-width: 325px;
    height: 80px;
  }
  &.v-size--small {
    max-width: 185px;
    width: 100%;
    height: 56px;
  }
}

.accent {
  color: $accent;
}
// Home page -- Header Section
.main-header {
  min-height: 600px;
  height: 100vh;
}
.app-header {
  position: absolute;
  width: 100%;
  z-index: 101;
}
.top-line {
  display: flex;
  &__left {
    display: flex;
  }
  &__right {
    display: flex;
    flex-basis: 400px;
    margin-left: auto;
  }
}

.main-menu {
  display: flex;
  li {
    margin-right: 56px;
    &:last-child {
      margin-right: 0;
    }
  }
  a {
    text-decoration: none;
    font-weight: 900;
    color: $dark;
  }
}

.hero-slider {
  position: absolute;
  z-index: 100;
  width: 100vw;
  overflow: hidden;
  height: 100vh;
  left: 0;
  top: 0;
  .swiper {
    width: 100% !important;
    height: 100vh;
    /*position: absolute;*/
    /*left: 50%;*/
    /*top: 50%;*/
    .swiper-slide {
      display: flex;
      flex-direction: column;
      justify-content: center;
      //align-items: center;
      //text-align: center;
      background-color: red;
      background-position: center;
      background-size: cover;
      color: $dark;
      &:nth-child(1) {
        background-image: url('~@/assets/images/slide-1.png');
      }
      &:nth-child(2) {
        background-color: #fec10d;
      }
      &:nth-child(3) {
        background: linear-gradient(#ad72e3, #63acdc);
      }
    }
    .swiper-pagination {
      .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background-color: #fff;
      }
    }
  }

  .swiper-button {
    &-prev, &-next {
      background-color: transparent;
      width: 56px;
      height: 56px;
      border-radius: 50%;
      border: none;
      &::after {
        font-family: 'Material Icons';
        -webkit-font-feature-settings: 'liga';
        font-size: 24px;
      }
    }
    &-prev {
      border: 1px solid #C0C5C8;
      background-color: $grey;
      &::after {
        content: 'arrow_back';
        color: #879197;
      }
    }
    &-next {
      background-color: $dark;
      &::after {
        content: 'arrow_forward';
        color: #fff;
      }
    }
  }

  /*padding: 15px;*/
}
.slide-content {
  width: 100%;
  max-width: 980px;
  padding-left: 280px;
}
.slide-controls {
  display: flex;
  align-items: center;
}
.slider-header {
  font-family: $header-font;
  font-size: 72px;
  font-weight: 900;
}
.slider-title {
  font-size: 26px;
  font-weight: 700;
}
.slider-subtitle {

}

.section-title {
  font-size: 56px;
  font-family: $header-font;
  font-weight: 900;
  color: $dark;
  &.inverse {
    color: $white;
  }
}
.study-with-us {
  background-image: url('~@/assets/images/study-with-us.png');
  background-repeat: no-repeat;
  background-position: bottom;
  height: 688px;
  &__content {
    display: flex;
  }
  .study-proposals {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    border-radius: 16px;
    padding: 0px;
    max-width: 820px;
  }
  .study-proposal {
    position: relative;
    flex: 1 1 50%;
    padding: 42px 56px 42px 56px;
    &::after {
      position: absolute;
      content: '';
      margin: 0 auto;
      background-color: #E7E7E9;
    }
    &:nth-child(1) {
      &::after {
        bottom: 0;
        left: 0;
        right: 0;
        width: 90%;
        height: 1px;
      }
    }
    &:nth-child(2) {
      &::after {
        bottom: 0;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 90%;
      }
    }
    &:nth-child(3) {
      &::after {
        bottom: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 90%;
      }
    }
    &:nth-child(4) {
      &::after {
        left: 0;
        right: 0;
        top: 0;
        width: 90%;
        height: 1px;
      }
    }
  }
  .study-text {
    color: #879197;
    margin-top: 24px;
  }
}
.controls {
  display: flex;
  .v-btn {
    &:first-child {
      margin-right: 24px;
    }
  }
}
.online-school {
  background-color: $dark;
  color: $white;
  &__content {
    display: flex;
  }
  &__left {
    flex-basis: 580px;
  }
  &__right {
    flex: 1;
  }
  p {
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
